<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
         android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        >
        <activity
            android:name="SplashActivity"
            android:exported="true">

        </activity>
        <activity android:name="RewardedActivity" />
        <activity android:name="MainActivity" />
        <activity android:name="NativeActivity" />
        <activity android:name="OpenActivity" />
        <activity android:name="RewardedinterstitialAd" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6683051613977291~5947357131" />
    </application>

</manifest>